.form-container {
  justify-content: center;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  text-align: center;

  h2 {
    margin-bottom: 2rem;
    font-weight: 600;
  }

  label {
    margin-top: 1rem;
    display: block;
    input {
      display: block;
      width: 80%;
      margin: auto;
    }
  }
}

.btn_connexion {
  display: block;
  margin: auto;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

svg {
  position: absolute;
  bottom: 0;
  z-index: -50;
}
