<div class="row justify-content-center align-items-center">
  <div class="col-md-12 col-lg-7 left-pannel">
    <h1 class="title_login text-center">ceri game</h1>
    <h1 class="subtitle_login text-center">Le jeu qui déchire un max!</h1>
  </div>
  <div class="col-md-12 col-lg-5 right-pannel">
    <div class="card-elem">
      <h2 class="text-center">Bienvenue</h2>
      <label for="username"
        >Nom d'utilisateur
        <input placeholder="alexhach" type="text" />
      </label>
      <label for="password"
        >Mot de passe
        <input placeholder="********" type="password" />
      </label>
      <button class="btn btn-primary">Connexion</button>
    </div>
  </div>
</div>
